In [1]:
# importing required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
# import dataset
data = pd.read_csv('Advertising.csv')
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [14]:
# assign independent and dependent variables
# here, Sales is dependent variable
#       Radio, TV, Newspaper is independent variable
x = data.iloc[:,1:4].values
y = data.iloc[:,-1].values

In [16]:
# splitting the dataset into Train and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [17]:
# fitting the model
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(X_train, y_train)

LinearRegression()

In [20]:
# get Intercept and Coefficient
print("Intercept: ", mlr.intercept_)
print("Coefficient-(TV, Radio, Newspaper): ", mlr.coef_)

Intercept:  2.99489303049533
Coefficient-(TV, Radio, Newspaper):  [ 0.04458402  0.19649703 -0.00278146]

In [23]:
# predict test set result
y_pred = mlr.predict(X_test)
y_pred

array([10.05739563,  7.4522807 ,  7.0197076 , 24.08029725, 12.01786259,
        6.53793858, 12.78286918, 15.10974587, 10.76974013, 16.34357951,
       22.88297477,  9.12924467, 10.46455672, 15.48743552, 11.58555633,
       12.17296914, 18.76551502, 10.78318566, 15.90515992, 17.30651279,
       24.06692057,  9.59834224, 15.13512211, 12.38591525,  5.71360885,
       15.24749314, 12.29402334, 20.9421167 , 13.40991558,  9.04348832,
       12.89239415, 21.40272028, 18.13802209, 21.17320803,  6.56974433,
        6.14114206,  7.89018394, 13.01541434, 14.68953791,  6.18835143])

In [25]:
# Actual value vs Predicted value
mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred})
mlr_diff.head()

   Actual value  Predicted value
0          11.3        10.057396
1           8.4         7.452281
2           8.7         7.019708
3          25.4        24.080297
4          11.7        12.017863

In [28]:
# model evaluation
from sklearn import metrics

mae = metrics.mean_absolute_error(y_test, y_pred)
mse = metrics.mean_squared_error(y_test, y_pred)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

print("R squared: {:.2f}".format(mlr.score(x,y)*100))
print("Mean absolute error: ", mae)
print("Mean squared error: ", mse)
print("Root means squared error: ",rmse)

R squared: 89.64
Mean absolute error:  1.3617813502090281
Mean squared error:  4.402118291449686
Root means squared error:  2.098122563495681